.active {
    background: black;
    color: white;
    border-radius: 2rem;
    display: inline-block;
    
}
.container {
    justify-content: center;
    margin-right: 10px;
    gap: 20px;
    align-items: center;
    
}
.action {
    justify-content: center;
    margin-right: 10px;
    gap: 20px;
    align-items: center;
}
.font {
    color: white
}
.success-button {
    background-color: yellow; 
  }
.btn-warning {
    background-color: blueviolet;
}